.hey{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
  }
  h1{
    margin: 80px auto 0 34%;
    font-size: 58px;
    color: rgb(53 84 160);
  }
  .hp{
    margin: 50px auto 0 42%;
    display: block;
  }
  .hp a{
    text-decoration: none;
  }
  .hp p{
    background-color: rgb(104 159 201);
    line-height: 40px;
    text-align: center;
    width: 28%;
    padding:0 20px ;
    border-radius: 24px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(245, 249, 252);
  }
  .hp p:hover{
    background-color: rgb(223, 88, 88);
  }