.title{
  text-align: center;
}
.inputFields{
  display: flex;
  justify-content: center;
}
.firstNumber{
  margin-right: 30px;
}
.CalcButtons{
  display: flex;
  justify-content: center;
margin-top: 25px;
}
#btn{
  margin: 10px;
font-size: 15px;
}
.resultContainer{
  display: flex;
  justify-content: center;
}