.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(#000b1f, #012448); */
  background: linear-gradient(45deg,  rgba(66, 183, 245,0.8) 0%,rgba(66, 245, 189,0.4) 100%);
  color: gray;
}

/* .App .startbtn{
  height: 8rem;
  font-size: 4rem;
  padding: 0 3rem;
} */
